<div class="mw-head">
    <nav class="navbar">
        <ul class="nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Talk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contributions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create Account</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
            </li>
        </ul>  
    </nav>
    <div class="d-flex">
        <nav class="navbar">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Main Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Talk</a>
                </li>
            </ul>
        </nav>
        <div class="ms-auto">
            <nav class="navbar">
                <div class="ms-auto">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Read</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">View Source</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">View History</a>
                            </li>
                        </ul>
                </div>
                <form class="me-3">
                    <input type="search" class="form-control" placeholder="Search Wikipedia" aria-label="Search">
                </form>
            </nav>
        </div>
    </div>
</div>
<div class="mw-panel">
    <div id="p-logo">

    </div>
</div>
