<div class="ms-auto mt-auto" style="background-color: #f6f6f6; font-family: sans-serif;">
    <ul class="footer-info">
        <li class="footer-info fs-6" style="list-style-type: none">
            "Text is available under the Creative Commons Attribution-ShareAlike License: additional terms may apply. By using the site, you agree to the Terms of Use and Privacy Policy. {{title}} is a registered trademark of the {{title}} Foundation, Inc., a non-profit organisation."
        </li>
    </ul>
    <nav class="navbar">
        <ul class="nav me-auto ms-3">
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About {{title}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disclaimers</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Contact {{title}}</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Mobile View</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cookie Statement</a>
            </li>
            <div class="navbar ms-auto">
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="#">
                        <img src="./assets/wikimedia-button.png" alt="A Wikimedia project">
                    </a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="#">
                        <img src="./assets/poweredby_wikimedia.png" alt="Powered by MediaWiki">
                    </a>
                </li>
            </div>
        </ul>  
    </nav>
</div>>
    
