<div class="page-footer fixed-bottom font-small ms-auto" style="background-color: #f6f6f6">
    <ul class="footer-info">
        <li class="footer-info fs-6" style="list-style-type: none">
            "Text is available under the Creative Commons Attribution-ShareAlike License: additional terms may apply. By using the site, you agree to the Terms of Use and Privacy Policy. Wikipedia is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organisation."
        </li>
    </ul>
    <nav class="navbar">
        <ul class="nav me-auto ms-3">
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Wikipedia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disclaimers</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Wikipedia</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Mobile View</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cookie Statement</a>
            </li>
        </ul>  
        <!--<ul class="noprint">
            <li class="footer-copyright">
                <a href="#">
                    
                </a>
            </li>
        </ul>-->
    </nav>
</div>>
    
