<div class="container" style="background-color: #f6f6f6; font-family: sans-serif">
    <div class="row">
        <div class="col-4 mt-1">
            <div class="fs-4 text-center">
                Welcome to 
                <a href="#"  style="text-decoration: none;">{{title}}</a>,
            </div>
            <div class="text-center">
                the free encyclopedia that anyone can edit.
            </div>
            <div class="text-center">
                {{artCnt}} articles in English
            </div>
        </div>
        <div class="col-2 mt-3 ms-auto">
            <ul>
                <li><a href="#" style="text-decoration: none;">The arts</a></li>
                <li><a href="#" style="text-decoration: none;">Biography</a></li>
                <li><a href="#" style="text-decoration: none;">Geography</a></li>
            </ul>
        </div>
        <div class="col-2 mt-3 ms-auto">
            <ul>
                
                <li><a href="#" style="text-decoration: none;">History</a></li>
                <li><a href="#" style="text-decoration: none;">Mathematics</a></li>
                <li><a href="#" style="text-decoration: none;">Science</a></li>
            </ul>
        </div>
        <div class="col-2 mt-3 ms-auto">
            <ul>
                
                <li><a href="#" style="text-decoration: none;">Society</a></li>
                <li><a href="#" style="text-decoration: none;">Technology</a></li>
                <li><a href="#" style="text-decoration: none;">All portals</a></li>
            </ul>
        </div>
    </div>
</div>

