<div class="container" style="background-color: #f6f6f6">
    <div class="row">
        <div class="col-4">
            <div class="fs-4 text-center">
                Welcome to 
                <a href="#"  style="text-decoration: none;">Wikipedia</a>,
            </div>
            <div class="text-center">
                the free encyclopedia that anyone can edit.
            </div>
            <div class="text-center">
                6,370,883 articles in English
            </div>
        </div>
        <div class="col-2 ms-auto">
            <ul>
                <li><a href="#" style="text-decoration: none;">The arts</a></li>
                <li><a href="#" style="text-decoration: none;">Biography</a></li>
                <li><a href="#" style="text-decoration: none;">Geography</a></li>
            </ul>
        </div>
        <div class="col-2 ms-auto">
            <ul>
                
                <li><a href="#" style="text-decoration: none;">History</a></li>
                <li><a href="#" style="text-decoration: none;">Mathematics</a></li>
                <li><a href="#" style="text-decoration: none;">Science</a></li>
            </ul>
        </div>
        <div class="col-2 ms-auto">
            <ul>
                
                <li><a href="#" style="text-decoration: none;">Society</a></li>
                <li><a href="#" style="text-decoration: none;">Technology</a></li>
                <li><a href="#" style="text-decoration: none;">All portals</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-1">
    <div class="row">
        <div class="col-7" style="background-color: #e9f8ef">
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>From today's featured article</a>
            </div>
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>Did you know...</a>
            </div>
        </div>
        <div class="col-5 ps-1" style="background-color: #e7eff7">
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>In the news</a>
            </div>
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>On this day</a>
    </div>

</div>
<div class="container mt-1" style="background-color: #f6dcfb">
    <div class="container mt-1 mb-1" style="background-color:#e3a2fa">
        <a>Today's featured article</a>
    </div>
</div>

