<div class="container mt-1" style="font-family: sans-serif;">
    <div class="row">
        <div class="col-7" style="background-color: #e9f8ef">
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>From today's featured article</a>
            </div>
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>Did you know...</a>
            </div>
        </div>
        <div class="col-5 ps-1" style="background-color: #e7eff7">
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>In the news</a>
            </div>
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>On this day</a>
    </div>

</div>
<div class="container mt-1" style="background-color: #f6dcfb; font-family: sans-serif;">
    <div class="container mt-1 mb-1" style="background-color:#e3a2fa">
        <a>Today's featured article</a>
    </div>
</div>