<div class="container mt-1" style="font-family: sans-serif;">
    <div class="row">
        <div class="col-7" style="background-color: #e9f8ef">
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>From today's featured article</a>
            </div>
            <div class="container mt-1 mb-1" style="background-color: #b8f7d1">
                <a>Did you know...</a>
            </div>
            <a class="ms-auto">
                <img id="image" src="./assets/Portrait_of_Maungwudaus.jpg.webp" alt="Image of Maungwudaus">
            </a>
            <ul>
                <li>... that when it was sold in 2002, a painting of the Ojibwe performer Maungwudaus (pictured) was the second-most expensive artwork ever sold in Canada?</li>
                <li>... that Peter Fleischmann directed the cult film The Hamburg Syndrome, which foresaw a scenario similar to the COVID-19 pandemic as early as 1979?</li>
                <li>... that distance education in Chicago Public Schools in 1937 took place via radio broadcasts during school closures that were spurred by a polio outbreak?</li>
                <li>... that a review by Alan Blyth of tenor Christoph Strehl's performances described him as singing "with a Wunderlich-like strength and beauty"?</li>
                <li>... that South Carolina's first television station, WCOS-TV, "could not stand the economic gaff" and folded less than three years after starting up?</li>
                <li>... that in terms of performance, wool has been advertised as a "miracle fabric"?</li>
                <li>... that Wayward Son was described as "a delirious candy-coated romp"?</li>
                <li>... that due to a left–right mix-up, Barry Joule destroyed the wrong Francis Bacon painting, which would now be worth around £35 million?</li>
            </ul>
        </div>
        <div class="col-5 ps-1" style="background-color: #e7eff7">
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>In the news</a>
            </div>
            <a>
                <img id="image" src="./assets/tennis-gal.jpg.webp" alt="Image of Maungwudaus">
            </a>
            <ul>
                <li>British tennis player Emma Raducanu (pictured) wins the US Open, becoming the first qualifier to win a Grand Slam title.</li>
                <li>The National Rally of Independents, led by Aziz Akhannouch wins the most seats in the Moroccan general election.</li>
                <li>A prison fire in Tangerang, Indonesia, kills at least 46 inmates and injures 75 others.</li>
                <li>Carlos Vila Nova is elected President of São Tomé and Príncipe.</li>
            </ul>
            <div class="container mt-1 mb-1" style="background-color: #a8c4ff">
                <a>On this day</a>
            </div>
            <a>
                <img id="image" src="./assets/sub.jpg.webp" alt="Image of Maungwudaus">
            </a>
            <ul>
                <li>AD 81 – Domitian, the last Flavian emperor of Rome, was confirmed by the Senate to succeed his brother Titus.</li>
                <li>1901 – Theodore Roosevelt became President of the United States at age 42, the youngest person ever to do so, eight days after William McKinley was fatally wounded in Buffalo, New York.</li>
                <li>1914 – HMAS AE1 (pictured), the Royal Australian Navy's first submarine, was lost at sea; its wreck was not found until 2017.</li>
                <li>2019 – Drone attacks on major processing facilities at Abqaiq and Khurais forced Saudi Arabia to cut more than half of its oil production.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-1" style="background-color: #f6dcfb; font-family: sans-serif;">
    <div class="container mt-1 mb-1" style="background-color:#e3a2fa">
        <a>Today's featured article</a>
    </div>
    <a>
        <img id="image" src="./assets/bird.jpg.webp" alt="Image of Maungwudaus">
    </a>
    	
The red-backed shrike (Lanius collurio) is a carnivorous passerine bird and a member of the shrike family, Laniidae. It breeds in a range stretching from western Europe eastwards to central Russia, and it overwinters in the eastern areas of tropical and southern Africa. About 17 centimetres (7 inches) in length, it feeds on large insects, small birds, frogs, rodents and lizards. Like other shrikes, it hunts from prominent perches, and impales corpses on thorns or barbed wire as a "larder". This male red-backed shrike was photographed at Lake Kerkini in northern Greece.
</div>