<div>
    <a class="nav-link text-center mt-3" href="#">
        <img src="./assets/WikiLogo.png" alt="Wikipedia" width="125">
    </a>
    <ul class="nav navbar-nav ms-3 mt-4" >
        <li><a routerLink="/Home" style="text-decoration: none;">Main Page</a></li>
        <li><a href="#" style="text-decoration: none;">Contents</a></li>
        <li><a href="#" style="text-decoration: none;">Current Events</a></li>
        <li><a href="#" style="text-decoration: none;">Random Article</a></li>
        <li><a href="#" style="text-decoration: none;">About Wikipedia</a></li>
        <li><a href="#" style="text-decoration: none;">Contact Us</a></li>
        <li><a href="#" style="text-decoration: none;">Donate</a></li>
    </ul>
    <ul class="nav navbar-nav ms-3 mt-4" >
        <li>Contribute</li>
        <li><a href="#" style="text-decoration: none;">Help</a></li>
        <li><a href="#" style="text-decoration: none;">learn to edit</a></li>
        <li><a href="#" style="text-decoration: none;">Community portal</a></li>
        <li><a href="#" style="text-decoration: none;">Recent Changes</a></li>
        <li><a href="#" style="text-decoration: none;">Upload files</a></li>
    </ul>
</div>